BASE_URL= ******** Base URL 
GOOGLE_CLIENT_SECRET= ******** from Gmail
GOOGLE_CLIENT_ID= ******** from Gmail
NEXTAUTH_SECRET= ******** from Next Auth
EMAIL_TO_SEND= ******** Email to send quotes and inquiries
EMAIL= ******** from Gmail
MAILPASS= ******** from Gmail
DB_USER= ******** from MongoDB URL
DB_PASS= ******** from MongoDB URL
DB_HOST= ******** from MongoDB URL
DB_NAME= ******** from MongoDB URL