@keyframes slideshow {
    0% {
        left: 0;
    }

    100% {
        left: -200%;
    }
}

footer {
    margin-top: 2rem;
    border-top: var(--main-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg);
}

.footerImgContainer {
    width: 100%;
    height: calc(50vh - 2.5vw);
    display: flex;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 576px) {
        height: auto;
        aspect-ratio: 3 / 2 !important;
    }
}

.footerImgContainer .image {
    background: url(/Images/contact/footer.svg);
    filter: var(--main-filter);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 30s linear infinite;

    @media screen and (max-width: 576px) {
        animation: slideshow 15s linear infinite;
    }
}

.footerContainer {
    width: 100%;
    height: calc(50vh - 2.5vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: auto;
        flex-direction: column;
    }
}



.footerContainer .ubication {
    width: 35%;
    height: 100%;
    font-size: calc(1rem + 1vw);
    display: flex;
    align-items: center;
    border-right: var(--main-border);
    position: relative;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        height: 50vh;
        width: 100%;
        border-right: none;
        border-bottom: var(--main-border);
    }

    @media screen and (max-width: 576px) {
        height: 25vh;
    }
}

.footerContainer .ubication a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer .ubication a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.footerContainer .infoTextContainer {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.footerContainer .infoLinks {
    grid-column: 1 / span 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: var(--main-border);
    height: 100%;

    @media screen and (max-width: 768px) {
        height: 100%;
    }


    @media screen and (max-width: 576px) {
        grid-column: 1 / span 12;
        border-right: none;
        height: auto;
    }
}

.footerContainer .infoLinks p {
    @media screen and (max-width: 768px) {
        padding-bottom: 2rem;
    }
}

.footerContainer .infoLinks .linksContainer {
    display: flex;
    flex-direction: column;
}

.footerContainer .infoLinks .linksContainer a {
    font-family: var(--font-anton);
    font-size: calc(1rem + 1vw);
}



.footerContainer .infoIcons {
    grid-column: 8 / span 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
        height: 100%;
    }

    @media screen and (max-width: 576px) {
        grid-column: 1 / span 12;
        height: auto;
        border-top: var(--main-border);
    }
}


.footerContainer .iconContainer {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (max-width: 576px) {
        height: 4rem;
        width: 4rem;
    }
}

.footerContainer .iconContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: var(--main-filter);
    padding: 1rem !important;
}