.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 99;

    nav {
        width: 60vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--second-bg);
        color: var(--second-color);
        padding: 1rem;
        border-right: var(--second-border);
        border-bottom: var(--second-border);

        @media screen and (max-width: 768px) {
            width: calc(100vw - 45px);
        }

        button {
            /* grid-column: auto / span 10; */
            width: calc(100% - 2rem);
            margin: 1rem;
            text-align: center;
            border: var(--second-border);
            box-shadow: 7px 7px 0 0 var(--second-color);
            color: var(--second-color);

            &:hover {
                box-shadow: none;
                transform: translate(7px, 7px);
            }

            a {
                font-size: calc(1rem + 1vw);
                color: var(--second-color);

                &:hover {
                    color: var(--second-color);
                }
            }
        }
    }
}